---
import Header from '../components/Header.astro';
import MobileWarning from '../components/MobileWarning.astro';
import Usage from '../components/Usage.astro';
import DataGridDemo from '../components/DataGridDemo.astro';
import Layout from '../layouts/Layout.astro';
---

<MobileWarning />
<Layout>
  <Header />
  
  <div class="page-wrapper">
    <DataGridDemo />
    <Usage />
  </div>
</Layout>

<style>
  .page-wrapper {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    padding: 20px;
  }
</style>
